# Environment & Secrets
.env
.env.local
.env.production

# Foundry / Solidity
cache/
out/
lib/
*.log
*.lock
build_info.json

# Frontend / Web
node_modules/
dist/
*.map
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
