# Base Sepolia RPC (lub lokalny Hardhat/Anvil)
RPC_URL=https://sepolia.base.org
# Klucz prywatny konta providera (NIGDY nie commituj prawdziwego klucza!)
PRIVATE_KEY=0xYourPrivateKeyHere
# Adres wdrożonego SandboxRouter.sol
ROUTER_ADDRESS=0xYourRouterAddressHere
